
Library
Logs
Temp
UserSettings
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
DocCodeExamples.csproj
Unity.Addressables.csproj
Unity.Addressables.Editor.csproj
Unity.Addressables.Editor.Tests.csproj
Unity.Addressables.Tests.csproj
Unity.CollabProxy.Editor.csproj
Unity.CollabProxy.EditorTests.csproj
Unity.PlasticSCM.Editor.csproj
Unity.PlasticSCM.EditorTests.csproj
Unity.ResourceManager.csproj
Unity.ResourceManager.Tests.csproj
Unity.Rider.Editor.csproj
Unity.ScriptableBuildPipeline.csproj
Unity.ScriptableBuildPipeline.Editor.csproj
Unity.ScriptableBuildPipeline.Editor.Tests.csproj
Unity.Services.Core.Analytics.csproj
Unity.Services.Core.Configuration.csproj
Unity.Services.Core.Configuration.Editor.csproj
Unity.Services.Core.csproj
Unity.Services.Core.Device.csproj
Unity.Services.Core.Editor.csproj
Unity.Services.Core.Environments.csproj
Unity.Services.Core.Environments.Internal.csproj
Unity.Services.Core.Internal.csproj
Unity.Services.Core.Networking.csproj
Unity.Services.Core.Registration.csproj
Unity.Services.Core.Scheduler.csproj
Unity.Services.Core.Telemetry.csproj
Unity.Services.Core.Threading.csproj
Unity.TextMeshPro.csproj
Unity.TextMeshPro.Editor.csproj
Unity.TextMeshPro.Editor.Tests.csproj
Unity.TextMeshPro.Tests.csproj
Unity.Timeline.csproj
Unity.Timeline.Editor.csproj
Unity.VisualStudio.Editor.csproj
Unity.VSCode.Editor.csproj
UnityAddressableBuilder.sln
UnityEditor.CacheServer.csproj
UnityEditor.CacheServerTests.csproj
UnityEditor.TestRunner.csproj
UnityEditor.UI.csproj
UnityEditor.UI.EditorTests.csproj
UnityEngine.TestRunner.csproj
UnityEngine.UI.csproj
UnityEngine.UI.Tests.csproj
ProjectSettings/RiderScriptEditorPersistedState.asset
obj
.idea
UnityAddressablesBuilder.sln
